{% extends 'base.html' %}
{% load static %}
{% block title %}Django blog{% endblock %}
{% block stylesheet %}
{% endblock %}
{% block content %}
<div class="container text-center" style="background-color:rgba(85, 27, 32, 0.92); margin-top:180px; margin-bottom:15px"><h3 style="color:white">Category {{cat.name}}</h3></div>
{% for p in post %}
<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
	<figure>
		<a href="{% url 'blog:single' p.id %}"><img src="{{p.image.url}}" alt="Image" class="img-responsive"></a>
	</figure>
	<span class="fh5co-meta"><a href="{% url 'blog:category' p.category.name %}">{{p.category.name}}</a></span>
	<h2 class="fh5co-article-title"><a href="{% url 'blog:single' p.id %}">{{p.title}}</a></h2>
	<span class="fh5co-meta fh5co-date">{{p.posted_on}}</span>
</article>
{% endfor %}
{% endblock %}
{% block script %}
{% endblock %}