{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block stylesheet %}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Login</h3>
                </div>
                <div class="panel-body">
                    {% if messages %}
                        <div class="messages">
                        {% for message in messages %}
                        <div class="{{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                        </div>
                    {% endif %}
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="user">Username</label>
                            <input type="text" class="form-control" id="user" placeholder="Username" name="user">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password</label>
                            <input type="password" class="form-control" id="pwd" placeholder="Password" name="pwd">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}{% endblock %}